<script type='text/x-mustache' id='dashboard_template'>    
    {{#nodes}}
    <div class='row-fluid'>
        <div class="span12">
            <div class='row-fluid'>
                <div class="span6 webcam">            
                    <img src="{{webcam}}" alt="">
                    <h4 class='dashboard-title'>{{name}}</h4>
                    % if not settings.IS_CLOUD or settings.IS_DEV:
                        <p>
                            <a href="/realtime/{{id}}" class='btn btn-primary dashboard-view-btn'>Realtime</a>
                        </p>
                    % endif        
                    <ul class='legend clearfix dashboard-legend'>
                        {{#sensors}}
                            <li class='old_{{id}}' style="background-color:{{color}};">
                                <span class='header'>{{display}}:<span class='info {{id}}' id='{{node}}{{id}}_header'>{{value}}{{{decorator}}}</span></span>
                            </li>
                        {{/sensors}}
                    </ul>            
                </div>
                <div class="span6">                              
                    <div class='row-fluid'>
                        <div id="avg_watertemp" class='graph span5'></div>
                        <div id="avg_ph" class='graph span5'></div>                
                    </div>
                    <div class='row-fluid'>
                        <div id="avg_temp" class='graph span5'></div>
                        <div id="avg_humidity" class='graph span5'></div>
                    </div>
                    <div class='row-fluid'>
                        <div id="avg_waterlevel" class='graph span5'></div>
                    </div>                     
                </div>
            </div>
        </div>        
    </div>
    {{/nodes}}
</script>