<html>
    <head>
        <title>Test</title>
        <script type='text/javascript' language='javascript' src='${url}/api'></script>
        <script type='text/javascript' language='javascript'>
            var shares = [];
            function cb(res){
                console.log(res);
                document.getElementById("woot").innerHTML = "Success!";
            }

            function success_share(res){
                shares.push(res.id);
                console.log(shares)
                document.getElementById("woot").innerHTML = "<a href='"+res.url+"' target='_blank'>"+res.url+"</a>";
            }

            function share_test(){
                document.getElementById("woot").innerHTML = "Sharing";
                sh = new Share("http://word.com", "email", "dictionary", success_share);
            }
            function donate_test(){
                document.getElementById("woot").innerHTML = "Donating";
                sh = new Donate(Math.random()*20., 'http://event-dev.barackobama.com/static/test.html', cb);
            }
            function signup_test(){
                document.getElementById("woot").innerHTML = "Signup";
                sh = new Signup("test@test.com", "60626",'http://event-dev.barackobama.com/static/test.html', cb);
            }
            function rsvp_test(){
                document.getElementById("woot").innerHTML = "RSVP";
                sh = new RSVP("Github Drinkup", 'http://event-dev.barackobama.com/static/test.html', cb);
            }
            function progress_test(){
                document.getElementById("woot").innerHTML = "Progress";
                sh = new Progress("page2", 'http://event-dev.barackobama.com/static/test.html', cb);
            }
            function like_test(){
                document.getElementById("woot").innerHTML = "Like";
                sh = new Like("facebook", 'http://event-dev.barackobama.com/static/test.html', cb);
            }
            function target_test(){
                document.getElementById("woot").innerHTML = "Target";
                sh = new Target(
                    "500276669",
                    'example_life_of_julia_1',
                    'http://event-dev.barackobama.com/static/test.html',
                    'facebook',
                    'healthcare',
                    cb
                );
            }
            function aggregate_test(){                
                document.getElementById("woot").innerHTML = "Aggregate";
                sh = new Aggregate("528c60c0-b977-11e1-89ba-080027c6c729", cb);
            }

            function shared_test(){
                document.getElementById("woot").innerHTML = "Shared";
                sh = new Shared(shares, cb);
            }

        </script>
    </head>
    <body>
        <a onclick='share_test(); return false;' href='#'>Share</a>
        <a onclick='donate_test(); return false;' href='#'>Donate</a>
        <a onclick='signup_test(); return false;' href='#'>Signup</a>
        <a onclick='rsvp_test(); return false;' href='#'>RSVP</a>
        <a onclick='progress_test(); return false;' href='#'>Progress</a>
        <a onclick='target_test(); return false;' href='#'>Target</a>
        <a onclick='like_test(); return false;' href='#'>Like</a>
        <a onclick='aggregate_test(); return false;' href='#'>Aggregate</a>
        <a onclick='shared_test(); return false;' href='#'>Shared</a>
        <div id='woot'></div>
    </body>
</html>
