<!DOCTYPE html>
<html>
<head>

    <title>Automaton</title>
    <script src="static/jquery.js"></script>
    <script src="static/jquery.flot.js"></script>
    <script src="static/mustache.js"></script>
    <script src='static/node.js'></script>
    <script src='static/toggle.js'></script>
    <link type='text/css' rel='stylesheet' href='static/styles.css' />
    <script>
        var inter = false;
        var offset = -(new Date().getTimezoneOffset()*60*1000);
        var last_x = new Date().getTime()+offset;
        var nodes = eval('(${values})');        
        var node_objs = {};
        var url = "${url}";
        var graph = false;
        var node_template = "";
        var on_colors = ["#80DE03", "#C53437", "#6FDDFC", "#1D8480"];
        var daynode_height = 10;    

        var prefs = {
            ph:{
                color: "1D8480",
                decorator: "",
            },
            temp:{
                color: "C53437",
                decorator: "&deg;C",
            },
            humidity:{
                color: "E25618",
                decorator: "%",
            },
            light:{
                color: "6FDDFC",
                decorator:"%",
            }
        }

        function rpc_on_off(obj){
            console.log("Setting:");
            obj = {node:obj.node, index:obj.index, state:obj.on};
            console.log(obj);
            $.post("//"+url+"/rpc/", JSON.stringify(obj), function(res){
                console.log(eval("("+res+")"));
            });
        }

        function update_toggle(frame){
            var tog = document.getElementById(frame.node+frame.type);
            tog.obj.set_state(frame.state);
        }

        function update_input(frame){
            console.log(frame);
            var tog = document.getElementById(frame.node+frame.type);
            if(frame.value){
                tog.children[1].classList.add('on');
            }else{
                tog.children[1].classList.remove('on');
            }
        }

        function init(){
            graph = new WebSocket("ws://"+url+"/graph/");
            node_template = document.getElementById('node_template').innerHTML;
            
            graph.onopen = function() {
                console.log("Graph OPEN");
                graph.send('hi');
            };

            graph.onmessage = function(e) {
                var lines = e.data.split('\n');
                for (var i = 0; i < lines.length - 1; i++) {
                    var frame = eval("("+lines[i]+")");
                    switch(frame.cls){
                        case 'Output':
                            update_toggle(frame);
                            break;
                        case 'Input':
                            update_input(frame);
                            break;
                        default:
                            var node = node_objs[frame.node];
                            node.last[frame.id] = frame.value;
                            break;
                    }
                }
                this.send('');
            };

            for(var n in nodes){
                var node = nodes[n];
                console.log("Creating Node:");
                console.log(node);
                var new_node = new Node(node);
                node_objs[new_node.name] = new_node;
            }

            run();
        }

        function run(){
            for(var i in node_objs){
                for(var d in node_objs[i].data){
                    node_objs[i].data[d] = [];
                }                    
            }
            inter = setInterval(function(){
                last_x = new Date().getTime()+offset;
                for(var i in node_objs){
                    node_objs[i].update();
                }
            }, 150);
        }

        function stop(){
            clearInterval(inter);
        }

        window.onload = function() {
            init();
        }

        window.onfocus = function(){
            run();
        }

        window.onblur = function(){
            stop();
        }

    </script>
</head>
    <body>
        <div id='content'></div>
    </body>
    <script type='text/x-mustache' id='node_template'>
        <div class='node-frame'>
            <div class='node'>
                <div class='header'>
                    <div class='header-title'>{{name}}</div>
                </div>
                <div class='graph-holder'>
                    <ul class='legend clearfix'>
                        {{#sensors}}
                            <li class='{{id}}'>
                                <span class='header'>{{display}}:<span class='info {{id}}' id='{{node}}{{id}}_header'></span></span>
                            </li>
                        {{/sensors}}
                    </ul>
                    <div class='graph' id="{{name}}" style="width:90%;height:300px"></div>
                    <h3>Historical</h3>
                    <div class='historical_graph' id="historical_{{name}}" style="width:90%;height:100px"></div>
                    <h3>Timers</h3>
                    <div class='day_graph' id="day_{{name}}" style="width:85%;height:40px"></div>
                </div>
                <div class='inputs clearfix'>
                    {{#inputs}}
                    <div class='input' id='{{node}}{{type}}'>
                        <div class='input_label'>{{display}}</div>
                        <div class='input_btn'></div>
                    </div>
                    {{/inputs}}
                </div>  
                <div class='controls clearfix'>
                    {{#outputs}}
                    <div class='toggle' id='{{node}}{{type}}'>
                        <div class='label'></div>
                        <div class='btn'><span class='t'></span></div>
                    </div>
                    {{/outputs}}
                </div>
            </div>
        </div>
    </script>
</html>
