<script type='text/x-mustache' id='trigger_template'>
	<li class='span6'>
        <div class='thumbnail'>
        	<h4>{{input}}</h4>
		    <div class='setting trigger' data-id='{{id}}'>
		    	<p>If {{input}} is between</p>
		    	<input class='min' type='number' id='min__{{input}}{{output}}' value={{min}} step=.1 />
		    	<p>and</p>
		    	<input class='max' type='number' id='max__{{input}}{{output}}' value={{max}} step=.1 />
		    	<p>turn {{output}} on.</p>
		    </div>
		</div>
	</li>
</script>