<%inherit file="base.html"/>
<%block name='js_app'>
    <script src="static/js/apps/settings.js"></script>
    <script src="static/js/jquery-ui-1.9.2.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.9.2.custom.min.css">
</%block>

<%block name='content'>
    <h1>Settings</h1>
    <div class='time_range'>
    	<div class='slider' id='start'></div>
    	<div id='display'></div>
    </div>

    <div class='repeater'>
    	<input type='number' id='run_for' />
    	<input type='number' id='every' />
    	<div id='repeater_display'></div>
    </div>

    <div class='pid'>
    	<input type='number' id='set_value' step=.1 />
    </div>

</%block>

<%block name='templates'>
    <%include file='mustache/settings.html'/>
</%block>
