<%inherit file="base.html"/>
<%block name='js_app'>
    <script src="static/js/apps/settings.js"></script>
    <script src="static/js/jquery-ui-1.9.2.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui-1.9.2.custom.min.css">
</%block>

<%block name='content'>
</%block>

<%block name='templates'>
    <%include file='mustache/settings/pid.html'/>
    <%include file='mustache/settings/range.html'/>
    <%include file='mustache/settings/repeater.html'/>
    <%include file='mustache/settings/trigger.html'/>
</%block>
